* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: #193441;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ffc947;
    margin: 20px 0;
    font-size: 60px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    font-weight: 700;
    color: #ffc947;
    background-color: #194350;
    transition: background-color 0.3s, color 0.3s;
}

.box:hover {
    background-color: #1e5372;
    color: #ffc947;
    transform: scale(1.05);
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffc947;
    color: #193441;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#reset-btn:hover, #new-btn:hover {
    background-color: #ffdb58;
    color: #193441;
}

#msg {
    color: #ffc947;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    animation: fadeIn 0.5s ease forwards;
}

.hide {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes confetti {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
    }
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #ffc947;
    border-radius: 50%;
    animation: confetti 3s ease-out forwards;
}
